
<table mat-table [dataSource]="cities" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> City Name </th>
        <td mat-cell *matCellDef="let element;  let i = index">
            <span *ngIf="i!=rowToEdit">{{element.name}}</span>
        </td>
    </ng-container>
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef> Temperature </th>
      <td mat-cell *matCellDef="let element;  let i = index">
          <span *ngIf="i!=rowToEdit">{{element.temperature}}</span>
      </td>
  </ng-container>
  <ng-container matColumnDef="humidity">
    <th mat-header-cell *matHeaderCellDef> Humidity </th>
    <td mat-cell *matCellDef="let element;  let i = index">
        <span *ngIf="i!=rowToEdit">{{element.humidity}}</span>
    </td>
  </ng-container>
  
    <ng-container matColumnDef="getData">
        <th mat-header-cell *matHeaderCellDef> Get Data </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            mat-raised-button
            color = 'primary'
          >
            Get data
          </button>                    
        </td>
      </ng-container>
  
  
    <ng-container matColumnDef="predict">
      <th mat-header-cell *matHeaderCellDef> Predict </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button *ngIf = "!element.result" mat-raised-button 
        color="primary"
        (click) = "predict(i)"
        >
        Predict
      </button>  
      <button *ngIf = "element.result&&!element.saved" mat-raised-button 
      color="primary"
      (click) = "updateResult(i)"
      >
      Save
    </button>
      <span *ngIf = "element.saved">saved</span>        
      </td>
    </ng-container>  

    <!-- <ng-container matColumnDef="Result">
      <th mat-header-cell *matHeaderCellDef> Result </th>
      <td mat-cell *matCellDef="let element">
        <span  [ngClass]="[predictResult=='true' ? 'green' : 'red']">{{element.result}}</span>
      </td>
    </ng-container>   -->
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  